.law-section .law-item {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
}

.law-section .law-item:last-child {
    margin-bottom: 0;
}

.law-item .pdf-img {
    display: inline-block;
    width: 32px;
    margin-right: 12px;
}

.law-item .pdf-link {
    transition: .3s all ease-in-out;
}

.law-item .pdf-link:hover {
    color: var(--main-color);
}

@media only screen and (max-width: 1199px) {
    .law-section .law-item {
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 767px) {
    .law-section .law-item {
        margin-bottom: 10px;
    }
    
    .law-item .pdf-img {
        width: 20px;
    }
    
    .law-item .pdf-link {
        font-size: 12px;
    }
}